*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100%;
    background-color: rgb(34, 24, 24);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    #box{
        height: 250px;
        width: 200px;
        border: 1px dashed rgb(255, 255, 255);
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // justify-content: space-around;
        gap: 10px;
        .list{
            height: 20%;
            width: 90%;
            border: 0.5px solid transparent;
            background-color: rgb(172, 40, 82);
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            align-items: center;
            gap: 10px;
            cursor:grab;
        }
    }
    #box_two{
        height: 250px;
        width: 200px;
        border: 1px dashed rgb(255, 255, 255);
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // justify-content: space-around;
        gap: 10px;
        .list{
            height: 20%;
            width: 90%;
            border: 0.5px solid transparent;
            background-color: rgb(172, 40, 82);
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            align-items: center;
            gap: 10px;
            cursor: grab;
        }
    }
}